.app-layout-shell {
	&[data-toolbar-behavior='scroll-away'] {
		timeline-scope: --layout-content-scroll;
		> .content {
			scroll-timeline: --layout-content-scroll block;
		}

		> .toolbar,
		> .content {
			@apply layout-toolbar-scroll-away;
		}

		&[data-layout='toolbar-top'] {
			> .nav {
				@apply layout-toolbar-scroll-away;
			}
		}
	}

	&[data-layout='sidebar-left'] {
		grid-template-areas:
			'nav toolbar'
			'nav content';
	}

	&[data-layout='toolbar-top'] {
		grid-template-areas:
			'toolbar toolbar'
			'nav content';
	}
}

@utility layout-toolbar-scroll-away {
	animation: layout-toolbar-hide-on-scroll linear both;
	animation-timeline: --layout-content-scroll;
	animation-range: 0 var(--layout-content-scroll-range);
}
