<span class="material-symbols-outlined">search</span>
<span class="material-symbols-outlined">home</span>
<span class="material-symbols-outlined">menu</span>
<span class="material-symbols-outlined">close</span>
<span class="material-symbols-outlined">settings</span>
<span class="material-symbols-outlined">check_circle</span>
<span class="material-symbols-outlined">add</span>
<span class="material-symbols-outlined">star</span>
<span class="material-symbols-outlined">search</span>
<hr />
<span class="material-symbols-rounded">search</span>
<span class="material-symbols-rounded">home</span>
<span class="material-symbols-rounded">menu</span>
<span class="material-symbols-rounded">close</span>
<span class="material-symbols-rounded">settings</span>
<span class="material-symbols-rounded">check_circle</span>
<span class="material-symbols-rounded">add</span>
<span class="material-symbols-rounded">star</span>
<span class="material-symbols-rounded">search</span>
<hr />
<span class="material-symbols-sharp">search</span>
<span class="material-symbols-sharp">home</span>
<span class="material-symbols-sharp">menu</span>
<span class="material-symbols-sharp">close</span>
<span class="material-symbols-sharp">settings</span>
<span class="material-symbols-sharp">check_circle</span>
<span class="material-symbols-sharp">add</span>
<span class="material-symbols-sharp">star</span>
<span class="material-symbols-sharp">search</span>

<div>
	<span [ngClass]="{ 'font-size-36': true }" class="material-symbols-outlined"
		>search</span
	>
</div>
