<div class="flex min-h-[60vh] flex-col items-center justify-center text-center">
	<h1 class="text-4xl font-bold mb-4">
		Welcome to the L3 Angular Starter Application
	</h1>
	<p class="subtitle text-lg text-gray-600">
		Kickstart your Angular project with best practices and modern tooling.
	</p>

	@if (data) {
		<div
			class="max-w-2xl bg-gray-100 rounded p-6 mt-4 mx-auto w-full text-left"
		>
			<pre class="text-sm whitespace-pre-wrap">{{ data | json }}</pre>
		</div>
	}
</div>
<div (click)="startLoading()">Load</div>
