<div class="m-6 p-6">
	<loading-dots />
</div>
<div class="m-6 flex flex-row gap-4 p-6">
	<div class="size-4 rounded-full bg-[var(--app-nav-on)]"></div>
	<div class="size-4 rounded-full bg-[var(--app-nav-border)]"></div>
	<div class="size-4 rounded-full bg-[var(--app-nav-item)]"></div>
	<div class="size-4 rounded-full bg-[var(--app-nav-item-hover)]"></div>
	<div class="size-4 rounded-full bg-[var(--app-nav-item-active)]"></div>
</div>
<div class="flex flex-row justify-center">
	<div class="size-10 shadow-[0_0_2px_var(--app-toolbar-shadow)]"></div>
</div>

<div class="text-base">Sabik Abtahee in px</div>

<div class="text-base">Sabik Abtahee in rem</div>
