<div class="m-6 flex flex-wrap items-center gap-6 p-6">
	<span class="loading loading-spinner loading-xs text-primary"></span>
	<span class="loading loading-spinner loading-sm text-secondary"></span>
	<span class="loading loading-dots loading-md text-accent"></span>
	<span class="loading loading-ring loading-lg text-neutral"></span>
	<span class="loading loading-ball loading-xl text-info"></span>
</div>
<div class="m-6 flex flex-row gap-4 p-6">
	<div class="size-4 rounded-full bg-neutral-content"></div>
	<div class="size-4 rounded-full border border-neutral-content/10"></div>
	<div class="size-4 rounded-full bg-neutral-content/70"></div>
	<div class="size-4 rounded-full bg-neutral-content/90"></div>
	<div class="size-4 rounded-full bg-accent"></div>
</div>
<div class="flex flex-row justify-center">
	<div
		class="size-10 shadow-[0_0_2px_color-mix(in_oklch,var(--color-primary-content)_15%,transparent)]"
	></div>
</div>

<div>IsMobile: {{screenSizeObserver.isMobile()}}</div>
<div>isSmall: {{screenSizeObserver.isSmall()}}</div>
<div>isMedium: {{screenSizeObserver.isMedium()}}</div>
<div>isLarge: {{screenSizeObserver.isLarge()}}</div>
<div>isExtraLarge: {{screenSizeObserver.isExtraLarge()}}</div>
<div>-----------------------------</div>
<div>isGreaterThanMobile: {{screenSizeObserver.isGreaterThanMobile()}}</div>
<div>isGreaterThanSmall: {{screenSizeObserver.isGreaterThanSmall()}}</div>
<div>isGreaterThanMedium: {{screenSizeObserver.isGreaterThanMedium()}}</div>
<div>isGreaterThanLarge: {{screenSizeObserver.isGreaterThanLarge()}}</div>
<div>
	isGreaterThanExtraLarge: {{screenSizeObserver.isGreaterThanExtraLarge()}}
</div>
<div>-----------------------------</div>
<div>isLessThanMobile: {{screenSizeObserver.isLessThanMobile()}}</div>
<div>isLessThanSmall: {{screenSizeObserver.isLessThanSmall()}}</div>
<div>isLessThanMedium: {{screenSizeObserver.isLessThanMedium()}}</div>
<div>isLessThanLarge: {{screenSizeObserver.isLessThanLarge()}}</div>
<div>isLessThanExtraLarge: {{screenSizeObserver.isLessThanExtraLarge()}}</div>
<div>-----------------------------</div>

<div>Height: {{(screenSizeObserver.screenSize$ | async)?.height}}</div>
<div>Width: {{(screenSizeObserver.screenSize$ | async)?.width}}</div>
