@for $i from 0 through 400 {
	.p-#{$i} {
		padding: #{$i}px;
	}
	.pl-#{$i} {
		padding-left: #{$i}px;
	}
	.pr-#{$i} {
		padding-right: #{$i}px;
	}
	.pt-#{$i} {
		padding-top: #{$i}px;
	}
	.pb-#{$i} {
		padding-bottom: #{$i}px;
	}
	.px-#{$i} {
		padding-left: #{$i}px;
		padding-right: #{$i}px;
	}
	.py-#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}

	.m-#{$i} {
		margin: #{$i}px;
	}
	.ml-#{$i} {
		margin-left: #{$i}px;
	}
	.mr-#{$i} {
		margin-right: #{$i}px;
	}
	.mt-#{$i} {
		margin-top: #{$i}px;
	}
	.mb-#{$i} {
		margin-bottom: #{$i}px;
	}
	.mx-#{$i} {
		margin-left: #{$i}px;
		margin-right: #{$i}px;
	}
	.my-#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}

	.gap-#{$i} {
		gap: #{$i}px;
	}

	.border-radius-#{$i} {
		border-radius: #{$i}px;
	}
}

@for $i from 0 through 100 {
	.border-radius-#{$i}p {
		border-radius: #{$i}%;
	}

	.w-#{$i}p {
		width: #{$i}%;
	}

	.h-#{$i}p {
		height: #{$i}%;
	}
}

@for $i from 0 through 2000 {
	.w-#{$i} {
		width: #{$i}px;
	}

	.min-w-#{$i} {
		min-width: #{$i}px;
	}

	.max-w-#{$i} {
		max-width: #{$i}px;
	}

	.h-#{$i} {
		height: #{$i}px;
	}

	.min-h-#{$i} {
		min-height: #{$i}px;
	}

	.max-h-#{$i} {
		max-height: #{$i}px;
	}
}
