@mixin toolbar-foreground-on-dark-bg {
	--app-toolbar-on: #fff;
	--app-icon-button-hover-bg: rgb(255 255 255 / 12%);
	--app-icon-button-active-bg: rgb(255 255 255 / 20%);
	--app-icon-button-ripple-color: rgb(255 255 255 / 25%);
}

@mixin toolbar-foreground-on-light-bg {
	--app-toolbar-on: #1a1a1a;
	--app-icon-button-hover-bg: rgb(0 0 0 / 8%);
	--app-icon-button-active-bg: rgb(0 0 0 / 12%);
	--app-icon-button-ripple-color: rgb(0 0 0 / 16%);
}

@mixin nav-foreground-on-dark-bg(
	$on,
	$item,
	$item-hover,
	$item-active,
	$border: rgb(255 255 255 / 10%)
) {
	--app-nav-on: #{$on};
	--app-nav-border: #{$border};
	--app-nav-item: #{$item};
	--app-nav-item-hover: #{$item-hover};
	--app-nav-item-active: #{$item-active};
}

@mixin nav-foreground-on-light-bg(
	$on,
	$item,
	$item-hover,
	$item-active,
	$border: rgb(0 0 0 / 8%)
) {
	--app-nav-on: #{$on};
	--app-nav-border: #{$border};
	--app-nav-item: #{$item};
	--app-nav-item-hover: #{$item-hover};
	--app-nav-item-active: #{$item-active};
}
