@use 'variables';
@use 'colors';
@use 'fonts';
@use 'icons';
@use 'animations';
@use 'mixins';
@use 'common';
@use '@angular/material' as mat;

// TODO: check if mat.theme is needed
html {
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette
			),
			typography: var(--font-family),
			density: 0
		)
	);
}

html {
	block-size: 100%;
}

body {
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);
	font-family: var(--font-family);
	min-block-size: 100%;
	margin: 0;
}

app-root {
	display: block;
	min-block-size: 100dvh;
}

// TODO: Find a way to remove this
.mat-mdc-menu-content {
	padding: 16px !important;
}
