<!-- Content With Navigation And Toolbar-->
@if (showNavigation() && showToolbar()) {
<div class="grid" [attr.data-layout]="layoutMode()" [class.toolbar-collapsed]="isToolbarHidden()">
	<div class="nav"><ng-container *ngTemplateOutlet="navigationbar" /></div>
	<div class="toolbar" [class.toolbar-hidden]="isToolbarHidden()"><ng-container *ngTemplateOutlet="toolbar" /></div>
	<div #scrollContent class="content"><ng-container *ngTemplateOutlet="content" /></div>
</div>
}

<!-- Content With Navigation -->
@if (showNavigation() && !showToolbar()) {
<div>
	<ng-container *ngTemplateOutlet="navigationbar" />
	<ng-container *ngTemplateOutlet="content" />
</div>
}

<!-- Content With Toolbar-->
@if (!showNavigation() && showToolbar()) {
<div class="toolbar-only-layout" [class.toolbar-collapsed]="isToolbarHidden()">
	<div class="toolbar" [class.toolbar-hidden]="isToolbarHidden()"><ng-container *ngTemplateOutlet="toolbar" /></div>
	<div #scrollContent class="content"><ng-container *ngTemplateOutlet="content" /></div>
</div>
}

<!-- Content -->
@if (!showNavigation() && !showToolbar()) {
<ng-container *ngTemplateOutlet="content" />
}

<ng-template #content>
	<router-outlet />
</ng-template>

<ng-template #navigationbar>
	<app-navigation-bar />
</ng-template>

<ng-template #toolbar>
	<app-tool-bar />
</ng-template>
