<!-- Content With Navigation And Toolbar-->
@if (showNavigation() && showToolbar()) {
	<div class="flex">
		<ng-container *ngTemplateOutlet="navigationbar"></ng-container>
		<div class="grow flex-col">
			<ng-container *ngTemplateOutlet="toolbar"></ng-container>
			<ng-container *ngTemplateOutlet="content"></ng-container>
		</div>
	</div>
}

<!-- Content With Navigation -->
@if (showNavigation() && !showToolbar()) {
	<div class="flex">
		<ng-container *ngTemplateOutlet="navigationbar"></ng-container>
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</div>
}

<!-- Content With Toolbar-->
@if (!showNavigation() && showToolbar()) {
	<div class="flex-col">
		<ng-container *ngTemplateOutlet="toolbar"></ng-container>
		<ng-container *ngTemplateOutlet="content"></ng-container>
	</div>
}

<!-- Content -->
@if (!showNavigation() && !showToolbar()) {
	<ng-container *ngTemplateOutlet="content"></ng-container>
}

<ng-template #content>
	<router-outlet></router-outlet>
</ng-template>

<ng-template #navigationbar>
	<app-navigation-bar></app-navigation-bar>
</ng-template>

<ng-template #toolbar>
	<app-tool-bar></app-tool-bar>
</ng-template>
