<div class="h-dvh flex flex-row justify-center items-center">
	<section class="animate-scale-out">
		<div
			class="flex w-full min-w-md flex-col items-center rounded-xl bg-base-300 p-8 text-center"
		>
			<div class="text-3xl font-bold text-base-content">404</div>

			<app-icon class="mt-2" name="search-x" size="2.5rem" />

			<div class="mt-4 mb-0 text-2xl font-semibold text-base-content">
				Page Not Found
			</div>

			<div class="mt-4 mb-0 max-w-xs text-base-content/70">
				The page you are looking for does not exist or may have been moved. Use
				the actions below to continue.
			</div>

			<div class="mt-7 flex flex-wrap justify-center gap-3">
				<button class="btn btn-primary" routerLink="/" type="button">
					<app-icon name="house" />
					<span>Go Home</span>
				</button>
				<button
					(click)="goBack()"
					class="btn btn-outline btn-primary"
					type="button"
				>
					<app-icon name="arrow-left" />
					<span>Go Back</span>
				</button>
			</div>
		</div>
	</section>
</div>
