<mat-button-toggle-group
	[value]="preference()"
	(change)="select($event.value)"
	aria-label="Sidebar toggle behavior"
	class="radio-card-group radio-card-group--vertical radio-card-group--align-start"
	hideSingleSelectionIndicator
>
	@for (option of options; track option.id) {
	<mat-button-toggle
		[aria-label]="option.label + '. ' + option.description"
		[value]="option.id"
		class="radio-card-option"
		disableRipple
	>
		<span class="text-base leading-snug font-semibold">{{ option.label }}</span>
		<span class="text-xs leading-snug font-normal text-base-content/70"
			>{{ option.description }}</span
		>
	</mat-button-toggle>
	}
</mat-button-toggle-group>
